/* TELA INSTITUCIONAL */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

.container{
    width: 100vw;
    background-color: #BCC3BA;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1B301C;
    height: 800px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin-top: 20px;
}

.navbar img{
    width: 250px;
    height: 100px;
}

.navbar ul{
    display: flex;
    gap: 30px;
    align-items: center;
    color: #fff;
    font-size: 1.3em;
}

.navbar button {
    padding: 6px;
    border-radius: 20px;
    background-color: #4DAE50;
    color: #fff;
    font-size: 0.7em;
}

.navbar a{
    color: #fff;
    padding: 0px 20px;
}

.impact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.impact h1{
    font-size: 4.5em;
    color: #fff;

}

.banner{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -300px;
}

.banner figure img{
    width: 100%;
    border-radius: 20px;
    height: 900px;
    
}

.containerMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutUs{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.aboutUs h2{
    font-size: 3em;
}

.aboutUs p{
    font-size: 1.5em;
}

.aboutUs figure{
    width: 100%;
}

.aboutUs img{
    width: 100%;
    height: 600px;
    border-radius: 20px;
}

.ourTeam{
    background-color: #1B301C;
    width: 100%;
    color: #fff;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}

.ourTeam h3{
    font-size: 2.5em;
}

.ourTeam p{
    font-size: 1.5em;
}

.textTeam{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* justify-self: flex-start; */
    margin-top: 50px;
    align-items: center;
}

.ourTeam img{
    width: 200px;
    height: 230px;
    border-radius: 50%;
}

.ourTeam figure{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.pics{
    display: flex;
    gap: 100px;
}

.divisionBanner img{
    width: 100vw;
    height: 1000px;
}

.calculator{
    background-color: #1B301C;
    height: 1000px;
    width: 100%;
    color: #fff;
}

.product{
    display: flex;
    width: 90vw;
    margin: 50px 0;
    height: 38em;
    gap: 20px;
}

.product-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons button{
    width: 30%;
    height: 60px;
    border-radius: 10px;
    font-size: 1.3em;
    color: #fff;
}

.buttons .primaryColor{
    background-color: #4DAE50;

}

.buttons .secundaryColor{
    background-color: #1B301C;
    
}

.product-info h3{
    font-size: 3.5em;
    margin-bottom: 10px;
}

.product-info p{
    font-size: 1.5em;
}

.product-images{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.product-images img{
    width: 100%;
    height: 600px;
    border-radius: 10px;
}

.contactUs{
    width: 100vw;
    background-color: #1B301C;
    display: flex;
    flex-direction: row;
    height: 600px;
}

.contactUs button{
    background-color: #4DAE50;
    color: #fff;
    font-size: 1.3em;
}

.contactContent{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.contactContent img{
    width: 100%;
}

.contactContent input{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
}

/* .inputGroup{
    display: flex;
    flex-direction: column;
} */

.contactContent form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactContent button{
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
}

footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer img{
    width: 300px;
}

.columns{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculator{
    width: 100vw;
    display: flex;
    height: 600px
}

.calculatorInformations{
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 20px;
}

.calculatorForm{
    width: 50%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

.calculatorInputs{
    width: 50%;
}

.field-wrapper{
    /* border: 1px solid black; */
    width: 100%;
}

.field-group{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.field{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid aqua; */
}
.field input{
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
}

.form-action{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.form-action button{
    width: 40%;
    height: 30px;
    border-radius: 20px;
    background-color: #4DAE50;
    color: #fff;
    font-size: 1em;
}

.infoGroup{
    width: 90%;
    font-size: 0.9em;
}

.hover1:hover{
    background-color: #3e8b41;
    transition: 0.3s;
}

.hover2:hover{
    background-color: #142415;
    transition: 0.3s;
}

.hover3:hover{
    border-bottom: 1px solid #3e8b41;
    transition: 0.3s;
}

#ipt_economia{
    background-color: #fff;
    border-radius: 20px;
    height: 50px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #3e8b41;
    font-size: 1.2em;
}